{% extends "layout.html" %}
{% block body %}
<!-- https://c1.staticflickr.com/9/8772/30009950692_38bbaaa615_o.jpg -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="background-image"></div>
<div class="contentpage">
   <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <h2>Deep Lang</h2>
      <div class="input-field half">
         <input type="text" placeholder="enter your text here"></input>
      </div>
      <textarea rows= "30" cols="50" placeholder="Enter your text here..."></textarea>
      <div class="submitButton">
         <button class="button" style="vertical-align:middle"><span>Submit</span></button>
      </div>
   </form>
</div>
{% endblock %}
